
<body>
    <div class="outer-overlay">
        <div id="inner-overlay"></div>
        <video id="video" autoplay ></video>
    </div>
    
    <!-- <canvas id="canvas"></canvas> -->
    <!-- <canvas id='canv' ></canvas> -->
    <h2 id="status">Please Wait...</h2>
    <br>
    <!-- <button class="btn btn-primary btn-lg" *ngIf="!isRecording" (click)="startRecording()">Start Recording</button>
    <button class="btn btn-warning btn-lg" *ngIf="isRecording" (click)="stopRecording()">Stop Recording</button> -->
    <!-- <button id="downloadButton" (click)="download()">Download</button> -->
</body>
